src/main/webapp/wsdl/WijkRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://inwoners">
	<xs:element name="calcInwonersVoorWijk">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="wijk" type="xs:string" />
				<xs:element name="jaar" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>